xmltojson/src/main/mule/xmltojson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c802033c-cbc0-4493-afda-23d2e8bfce48" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="xmltojsonFlow" doc:id="065120f3-ddbe-46ac-9bc2-f8e94f8760bf" >
		<http:listener doc:name="Listener" doc:id="c932587e-d26b-44b1-a3e3-678bd9308483" path="/xmttojson" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="648b52ca-5479-4557-896f-f672052dc45f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	price: payload.staf.*employee.salary default 0,
	name: payload.staf.*employee.Name default "",
	id: payload.staf.*employee.Id default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="37e68656-d511-40a9-8a1e-537b9847dd57" message="#[payload]"/>
	</flow>
</mule>
