hello_world/src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="23345d9e-6528-47e8-b8c3-582ebba4b6f1" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="hello_worldFlow" doc:id="cd67cfd7-f03e-438e-96fb-c5aec8bbc5d5" >
		<http:listener doc:name="Listener" doc:id="705ba188-af41-4d80-8203-6b0ccaecd259" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="hello world" doc:name="Set Payload" doc:id="8b2fcaf3-f1b1-4923-8343-3ea1381e24ac" />
		<logger level="INFO" doc:name="Logger" doc:id="4db415b9-023c-4734-970c-9bfa141d3775" message="#[payload]"/>
	</flow>
</mule>
