batchaggregatorbulkinsert/src/main/mule/batchaggregatorbulkinsert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="5a5380d9-732e-4899-9a79-344bbcc1a223" >
		<file:connection workingDir="C:\AnypointStudio\Training\batchaggregatorbulkinsert\src\main\resources" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="322ce44d-b6de-4e66-8dc7-c836d44b8629" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Amar1730@" database="inv" />
	</db:config>
	<flow name="batchaggregatorbulkinsertFlow" doc:id="215e340a-c99f-4cc1-b121-a5fc6c3f1fc5" >
		<file:listener doc:name="On New or Updated File" doc:id="c9940ea3-2ac5-4fbd-b9a3-57a6c32fdec3" config-ref="File_Config" directory="input" recursive="false" autoDelete="true" moveToDirectory="C:\Users\18135\OneDrive\Documents\filesuccessfullyprocessed" renameTo="outpu2.csv" applyPostActionWhenFailed="false" timeBetweenSizeCheckUnit="SECONDS">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="6d4ddb08-df69-4ed6-ba12-873aa8ff026e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="Set Variable" doc:id="b96f7552-607e-48fe-9fbe-5c3156066874" variableName="size"/>
		<batch:job jobName="batchaggregatorbulkinsertBatch_Job" doc:id="de52d95d-fc02-4455-89bf-a304e40a9afc" blockSize="200">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a3a7845c-c2d0-4a47-9555-b4af6147e696" acceptPolicy="ALL">
					<ee:transform doc:name="Transform Message" doc:id="d780a2dc-bbfe-4a97-9190-ec26114b6f81" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	Item:payload."Item",
	SalesChannel:payload."SalesChannel",
	OrderPriority:payload."OrderPriority"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="0fc1cfc9-5802-4757-a1df-43121c2db2cd" size="202">
						<db:bulk-insert doc:name="Bulk insert" doc:id="ab5d0f35-9105-4886-b681-36144f6dc3e4" config-ref="Database_Config">
							<db:sql >insert into Dat(Item,SalesChannel,OrderPriority) values(:Item,:SalesChannel,:OrderPriority);</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c178364d-e100-49eb-99c3-18dc30881f94" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
