testproj/src/main/mule/testproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2eb4d08-9193-47c5-9081-85ab045ada9b" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<flow name="testprojFlow" doc:id="8bd52be6-e547-445e-a87f-bef93244593d" >
		<http:listener doc:name="Listener" doc:id="78149291-d890-4e5a-b174-696ae1294e97" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fcb6c353-8177-489a-8643-563a612d8fd2" />
		<logger level="INFO" doc:name="Logger" doc:id="b0677a0c-8a30-4444-aeae-9be103787be1" message="#[payload]"/>
	</flow>
</mule>
